.bg-custom{
    background-color: rgb(180, 180, 180);
    }
.blog_image{
    width: 65px;
    height: 65px;
    }
.m-1{
    margin: 4px;
}
.m-2{
    margin: 8px;
}
.m-3{
    margin: 12px;
}
.m-10{
    margin: 20px;
}
.p-1{
    padding: 4px;
}
.p-2{
    padding: 8px;
}
.p-3{
    padding: 12px;
}
.p-10{
    padding: 20px;
}
.btn{
    border-radius: 10px;
} 
.btn-blog {
    border-radius: 10px;
}